* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul, ol {
    list-style: none;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #131130;
    align-items: center;
    height: 100px;
}

.header ul {
    display: flex;
    gap: 30px;
    padding-left: 75px;

}

.header ul .links {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200px;
    text-transform: uppercase;
}




/* Buttons */

.Buttons {
    display: flex;
    gap: 20px;
    padding-right: 100px;
}

.Buttons select {
    width: 260px;
    font-size: 1.05rem;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
  }

.Buttons p {
    text-transform: uppercase;
    font-weight: 700px;
}


/* Trending */

.trending .haut {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.trending h2 {
    font-size: 75px;
    font-weight: 300;
    padding-left: 75px;
    color: #131130;
}


.every .haut {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.every h2 {
    font-size: 75px;
    font-weight: 300;
    padding-left: 75px;
    color: #131130;
}

.loading {
    width: 60px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
    margin: auto;
    margin-top: 100px;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}


