.game-image {
    gap: 20px;
    height: 300px; 
    object-fit: cover;  
}

.games-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.carousel-container {
    display: flex;
    gap: 100px;
    width: 75%;
    margin: auto;
    margin-top: 100px;
}

.game-image.centered {
    transform: scale(1.2);
    gap: 20px;
}


.legend {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;  /* adjust as needed */
    margin-left: 10px;  /* adjust as needed */
}

