.game-image {
    gap: 20px;
    /*width: 75px;  !* adjust as needed *!*/
    height: 300px;  /* adjust as needed */
    object-fit: cover;  /* this will ensure that your images cover the whole area of the div without distorting the aspect ratio */
}

.games-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.carousel-container {
    display: flex;
    gap: 20px;
    width: 50%;
    justify-content: center;
    margin-top: 20px;
    margin-right: 10px;  /* adjust as needed */
    margin-left: 10px;  /* adjust as needed */
}
